# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/

# Django stuff:
*.log
db.sqlite3
staticfiles/

# Environment variables
.env

# Compiled dependencies
*.egg-info/
*.eggs/

# IDE-specific files
.idea/
.vscode/

# Docker files (optional)
.dockerignore

# macOS specific files
.DS_Store
